<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapuaStudio.ner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RadarActivity"></activity>
        <activity android:name=".Busqueda" />
        <activity android:name=".PrincipalesCiudades" />
        <activity android:name=".Radar" />
        <activity android:name=".SalaDetalle" />
        <activity android:name=".EmpresaDetalle" />
        <activity android:name=".SalasActivity" />
        <activity android:name=".Usuario" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" />
        <activity android:name=".EmpresasActivity" />
        <activity android:name=".DatosPlus" />
        <activity android:name=".Registro" />
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" />
        <activity android:name=".Login" />
        <activity android:name=".Splash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHEcrbJUJm0oylfPEFXoG6S_d56cCRbkk" />
    </application>

</manifest>